
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";



*{
  font-family: Outfit
}

.active{
    background-color:white ;
    border-color: #5044E5;
}

  @theme{
  --color-primary: #5044E5;
}
